.background {
    background: #E0E0E0;
    padding-bottom: 50px;
    min-height: 100%;
}

.header {
    padding: 1rem;
    background-color: #1EA43B;
    
}

.top {
    color: #E6D200;
    font-weight: bold;
    font-family: 'Bree serif', serif;
    font-size: 55px;
}

.headOpt {
    width: 250px;
    text-align: center;
    vertical-align: center;
    padding: 0 15px;
}

.nav {
    height: 2rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content: center;
}

.nav li {
    font-size: 20px;
    float: left;
     display: inline-block;
  float: none;
  vertical-align: top;
}

.link {
    font-size: 20px;
    transition: color 0.3s ease;
    color: white !important;
    font-family: 'Lora', serif;
    font-weight: bold;
    padding: 0 !important;
}

.a:hover{
    text-decoration: none;
}

.link:hover {
    color: #FCD664 !important;
    background-color: transparent !important;
    text-decoration: none;
}

.ref:hover {
    text-decoration: none;
}

.logo {
    height: 150px;
}

.problem {
    background: white;
    width: 75%;
    margin: 0 auto;
    border-radius: 0 0 25px 25px;
    padding: 50px;
    padding-top: 100px;
}

.image {
    text-align: center;
}

.meme {
    width: 50%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.ans {
    text-align: center;
}


.sub {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 0 auto;
}